
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
Pipfile.lock

# PEP 582
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Milvus volumes
volumes/
docker_volumes/

# Logs
logs/
*.log

# Data
data/*
!data/**/*.json
*.csv
!embeddings.json

# Temporary
temp/
tmp/
data/embeddings.json
document_loaders/milvus_docs/**
**/playwright-report/**
**/test-results/**
.playwright-mcp/page-2026-04-12T15-12-40-408Z.yml
.playwright-mcp/page-2026-04-12T15-13-15-370Z.yml
.playwright-mcp/page-2026-04-12T15-13-57-440Z.yml
.playwright-mcp/page-2026-04-12T15-14-09-922Z.yml
.playwright-mcp/page-2026-04-12T15-14-36-306Z.yml
.playwright-mcp/page-2026-04-12T15-22-08-295Z.yml
.playwright-mcp/page-2026-04-12T15-22-19-643Z.yml
.playwright-mcp/page-2026-04-12T15-22-35-421Z.yml
.playwright-mcp/page-2026-04-12T15-22-50-068Z.yml
.playwright-mcp/page-2026-04-12T15-23-17-402Z.yml
.playwright-mcp/page-2026-04-12T15-23-34-236Z.yml
.playwright-mcp/page-2026-04-12T15-23-53-620Z.yml
.playwright-mcp/page-2026-04-12T15-24-08-577Z.yml
